<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>

<body>




    <!-- <form action="/" method="POST">
        <input type="text" id="name" placeholder="your grocery name" required>
        <button type="button" id="add"> Add to cart</button>
        <div class="container" id="bill">
            <div class="card">
                <h3 id="ident">dal</h3>
                <h4>quantity</h4>
                <input type="text" list="quant" value="0" readonly id="quant">
                <div class="quatity">
                    <button id="inc">+</button>
                    <button id="dcr">-</button>
                </div>
            </div>
        </div>
        <button type="submit"></button>
    </form> -->



    <input type="text" id="name" placeholder="your grocery name">
    <button type="button" id="add"> Add to cart</button>
    <form action="/" class="form" method="POST">
        <div class="container" id="bill">
            <!-- <div class="card">
                <h3 id="ident">dal</h3>
                <h4>quantity</h4>
                <input type="text" list="quant" value="0" readonly id="quant">
                <div class="quatity">
                    <button id="inc">+</button>
                    <button id="dcr">-</button>
                </div>

            </div> -->
        </div>
        <button type="submit">calc</button>
    </form>

    <!-- <textarea name="" id="checkMessage" cols="30" rows="10" readonly></textarea> -->

    <div class="user-bill" id="billarea"></div>

    <script src="js/homepage.js"></script>
</body>

</html>