/* *{
    margin:0;
    
}
h3{
    margin:0;
}

.card{
    width:150px;
    height:100px;
    border: 5px solid black;
    padding:40px;
}

.user-bill{
    width:700px;
    height:1000px;
    background-color:white;
} */

.selected-items{
    margin:50px;
}
.interest{
    border-radius: 5px;
    border:none;
    padding:10px;
    text-align: center;
}

body{
    background: repeating-linear-gradient(
        45deg,
        #E5D9B6,
        #E5D9B6 10px,
        #5F8D4E 9px,
        #E5D9B6 11px
      );
      background-repeat: no-repeat;
    min-height:100vh;
}

.card{
    margin:10px;
}
.card-body{
    background-color:#5F8D4E;
}
.card-title{
    color:white;
}
.quant{
    width:30px;
    height:30px;
    font-weight:bold;
    border-radius:10px;
    background:#E5D9B6;
}
.quant:hover{
    background:#ccb543;
}

.caution{
    width:200px;
    height:180px;
    background-color: #E5D9B6;
    border: 2px solid #5F8D4E;
    color:black;
    font-weight: 400 ;
    border-radius: 10px;
    margin-top:50px;
    padding:20px;
}


#add{
    border-radius: 5px;
    background-color: yellowgreen;
    color: white;
}

#calc{
    border-radius: 5px;;
    background-color: #E5D9B6;
    margin-top:20px
}

tr,th,table{
    border:1px solid #5F8D4E;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@media screen and (max-width:400px)  {
    .totalbody{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}